.signin {
    min-height: 100vh;
    overflow: hidden;
    
    background: #F09819;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: { top: 8em; }
}

.signin-title {
    color: $white;
    font-weight: 300;
}

.signin-form {
    padding: { top: 1.5em; bottom: 1.5em; }
    margin: { top: 2em; }
}